.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
header{
    position: sticky;
}


.image-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; /* Center the image horizontally */
}

.image-container img {
    width: 100%; /* Full width within the container */
    height: 547px; /* Fixed height */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    border-radius: 60px; /* Rounded corners for images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.image-container:hover img {
    transform: scale(1.03); /* Scale up image on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
@media(min-width: 768px){
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media(min-width: 1024px){
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}