<div class="wrapper">
    <app-header></app-header>

    <main class="container" id="mainDash">
        <div class="row justify-content-center align-items-center">
            <!-- Image Section -->
            <div class="col-md-4">
                <div class="image-container">
                    <img src="./assets/images/Dashboard.jpeg" alt="Passport Image" class="img-fluid  ">
                </div>
            </div>
            <!-- Content Area -->
            <div class="col-md-8 mt-4" id="contentDiv">
                <div class="content center-content rounded bg-burlywood p-4">
                    <h1 class="text-center mb-4">Welcome to Passport Application HomePage</h1>
                    <strong>Steps to Apply for New Passport</strong><br><br>
                    <ol type="1">
                        <li>Register/login on the official passport website.</li>
                        <li>Fill the application form, upload required documents.</li>
                        <li>Pay the fee.</li>
                        <li>Schedule appointment.</li>
                        <li>Visit Passport Seva Kendra (PSK) for verification.</li>
                        <li>Track application status.</li>
                    </ol>
                    <p>If you have any questions or concerns about the passport application process, please <a
                            href="https://portal2.passportindia.gov.in/AppOnlineProject/ccgm/informationAction">Contact
                            us</a>. We are here to help you.</p>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>

</div>