#logout:hover {
    cursor: pointer;
  }
  .wrapper {
    min-height: 100vh; /* Ensures the wrapper takes at least the full height of the viewport */
    display: flex;
    flex-direction: column; /* Stacks content vertically */
  }
  .content {
    flex: 1 ; /* Takes up remaining space in the viewport */
  }