.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    align-items: center;
}

main {
    flex-grow: 1;
}
#logout{
    cursor: pointer;
}
