<div class="wrapper">
    <app-header></app-header>

    <main class="container-fluid mt-4">
        <div class="row text-center ">
            <div class="col-12 d-flex flex-wrap justify-content-around">
                <a routerLink="/admin/userslist">
                    <div class="card">
                        <img src="../../../../assets/images/userscard.jpg" class="card-img-top fixed-image" alt="...">
                        <div class="card-body">
                            <h1>Users List </h1>
                        </div>
                    </div>
                </a>
                <a routerLink="/admin/newapplicationlist">
                    <div class="card">
                        <img src="../../../../assets/images/newapplicationCard.jpg" class="card-img-top fixed-image"
                            alt="...">
                        <div class="card-body">
                            <h1>New Application List </h1>
                        </div>
                    </div>
                </a>
                <a routerLink="/admin/renewapplicationlist">
                    <div class="card">
                        <img src="../../../../assets/images/passport-renewal.jpg" class="card-img-top fixed-image"
                            alt="...">
                        <div class="card-body">
                            <h1>Renew Application List </h1>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-3 mb-3 text-center">
            <div class="col-12 d-flex flex-wrap justify-content-around">
                <a routerLink="/admin/customerfeedback">
                    <div class="card">
                        <img src="../../../../assets/images/customerFeedCard.jpg" class="card-img-top fixed-image"
                            alt="...">
                        <div class="card-body">
                            <h1>Customer Feedbacks </h1>
                        </div>
                    </div>
                </a>
                <a routerLink="/admin/customercomplaint">
                    <div class="card">
                        <img src="../../../../assets/images/customercomplaintCard.jpg" class="card-img-top fixed-image"
                            alt="...">
                        <div class="card-body">
                            <h1>Customer Complaints </h1>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </main>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>