/* General Body Styles */
body {
    background-color: #EFEBDF; /* Nice background color for the page */
}

/* Header Styles */
header {
    background-color: #343a40; /* Background color of the header */
    color: white; /* Text color */
    padding: 10px 0; /* Vertical padding */
}

.header-content {
    text-align: center;
    margin-top: 30px; /* Adjust top margin */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    width: 100px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-right: 20px; /* Space between image and text */
}

.header-content:hover  img {
    transform: scale(1.03); /* Scale up image on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
/* Navbar Styles */
.navbar-header {
    background-color: #212529; /* Background color of the header navbar */
    border-radius: 10px; /* Rounded corners for the navbar */
}

.navbar-footer {
    background-color: #212529; /* Background color of the footer navbar */
    border: none; /* Remove border */
}

.navbar-header .navbar-nav {
    margin-left: auto; /* Align navbar content to the right */
}

.navbar-footer .navbar-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide footer navbar into 3 equal sections */
    gap: 0; /* Remove gap between items */
    justify-content: center; /* Center align items */
}

/* Ensure active class is displayed correctly */
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ffc107 !important; /* Highlight color for active link */
}

/* Image Container Styles */
.image-container img {
    width: 100%; /* Full width within the container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    border-radius: 60px; /* Rounded corners for images */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.image-container:hover img {
    transform: scale(1.03); /* Scale up image on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.required::after {
    content: " *";
    color: red;
}


/* Footer Styles */
footer {
    background-color: #343a40; /* Background color of the footer */
    color: white; /* Text color */
    padding: 20px 0; /* Vertical padding */
    margin-top: auto;
}

/* Custom Sidebar Styles */


/* Responsive Styles */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Stack header content vertically on small screens */
        text-align: center;
    }

    .header-content img {
        margin-bottom: 10px; /* Adjust margin for image on small screens */
    }
}

/* Custom CSS for gutter between carousel and content */
@media (min-width: 992px) {
    .content {
        margin-left: 15px; /* Adjust as needed */
    }
        
}

@media (max-width: 991.98px) {
    .carousel,
    .content {
        margin-bottom: 15px; /* Adjust as needed */
    }
}

/* Form Styles */
.signup-form-container {
    background-color: burlywood; /* Form background color */
    border-radius: 20px; /* Rounded corners for the form */
    padding: 40px; /* Padding inside the form container */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Adding a subtle shadow effect */
    border: 2px solid powderblue; /* Border color */
}

.signup-form-container h2 {
    margin-bottom: 30px; /* Bottom margin for form headings */
    
}

.form-buttons {
    margin-top: 20px; /* Top margin for form buttons */
}

.form-buttons button {
    margin: 0 5px; /* Margin between form buttons */
}

.form-buttons button:hover {
    background-color: lightgreen; /* Background color on hover */
    color: black; /* Text color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Adding a shadow on hover */
}

/* Highlight input fields on hover */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover, 
select:hover {
    border-color: #007bff; /* Change border color to a highlight color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a light shadow for emphasis */
    cursor: pointer; /* Optional: Change cursor on hover */
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

/* Link Styles */
.text-center a {
    text-decoration: none; /* Remove underline from all links */
    position: relative; /* Enable absolute positioning for pseudo-element */
    display: inline-block;
    transition: all 0.3s ease; /* Smooth transition for animation */
    color: #fff; /* Default color for links */
}

.text-center a:hover {
    color: green; /* Change text color on hover */
}

.text-center a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #ffc107; /* Color of the underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.text-center a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#contentDiv {
    background-color: burlywood; /* Light background color */
    border-radius: 60px; /* Rounded border with large radius */
    padding: 20px; /* Padding inside the div */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid powderblue;
}

/* Specific Section Styles */
#statustracker,
#paymentDetails {
    background-color: burlywood; /* Light background color */
    border-radius: 60px; /* Rounded border with large radius */
    padding: 20px; /* Padding inside the div */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid powderblue;
}
#mainFeedback{
    margin-top: 50px;
    margin-bottom: 50px;
}
#mainDash{
    margin-top: 90px;
    margin-bottom: 85px;
}
#newDiv{
    margin-top: 85px;
    margin-bottom: 85px;
}
#renewDiv{
    margin-top: 25px;
    margin-bottom: 25px;
}
#statustracker input.form-control {
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

#statustracker input.form-control:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Hover effect with subtle shadow */
}
#feebackDiv {
    margin: 0 auto; /* Center content */
    padding: 20px;
    background-color: burlywood;
    border: 2px solid powderblue;
    border-radius: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.login-form-container {
    background-color: burlywood;
    border-radius: 20px;
    /* Increased border radius for the login form */
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* Adding a subtle shadow for better aesthetics */
}

.login-form-container h2 {
    margin-bottom: 30px;
}

#loginBtn:hover {
    background-color: lightgreen;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Adding a shadow on hover */
}

#resetBtn:hover {
    background-color: lightyellow;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Adding a shadow on hover */
}


.card {
    background: linear-gradient(to bottom, #ffffff, #e6e6e6); /* Gradient background */
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.carousel,
.carousel-item {
    height: 55vh; /* 25% of the viewport height */
    margin-bottom: 20px;
    border-radius: 60px;
}

.carousel-item img {
    height: 100%;
    object-fit: fill;
    border-radius: 60px;
}

#homepage .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#homePage .card-body {
    text-align: center;
    flex: 1 1 auto;
}

#homePage .card-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

#homePage .card-text {
    margin: 15px 0;
}

#homePage .card-footer {
    margin-top: auto;
}
